@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.identificador-pagina {
    margin: 20px 100px;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #171616;
}

/* ------------------Navbar------------------ */
nav {
    background-color: #D9D9D9;
}

.navbar{
    padding: 0;
    margin: 0;
}

.logo {
    margin-left: 15px;
}

.menu li a {
    color: black;
    font-weight: 500;
    margin: 10px;
    border-bottom: 2px solid transparent; 
}

.menu li a:hover {
    color: #000;
    border-bottom: 2px solid #000;
    font-weight: 500;
}

.icons i {
    padding: 7px;
    margin-right: 30px;
    font-size: 31px;
    color: black;
}

/* ------------------Main------------------ */
main {
    flex: 1;
}

/* ------------------Footer------------------ */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e3e3e;
}

.icons {
    padding: 10px;
    color: rgb(205, 205, 205);
    text-align: center;
    margin-top: 5px;
}

.icons a {
    text-decoration: none;
    align-items: center;
}

footer .icons i {
    margin: 10px;
    color: rgb(205, 205, 205);
    font-size: 25px;
}

.d-block {
    height: 400px;
}

/* ----------Productos Destacados---------- */
.productos-destacados-container h2 {
    text-align: center;
    padding: 9px;
    font-weight: 600;
    font-size: 25px;
    margin: 25px;
}

.card {
    border: none;
    align-items: center;
    margin-bottom: 20px;

}

.card-img-top {
    height: 18rem;
    width: 18rem;
    border-radius: 0;
}

/* ------------------PREGUNTAS FRECUENTES------------------ */
.accordion {
    padding: 20px;
    margin: 20px 160px;
    border-radius: 0;
}

.accordion-item {
    border-top: solid 1px #ababab;
    border-bottom: solid 1px #ababab;
    border-left: 0;
    border-right: 0;
}


.accordion-button:not(.collapsed) {
    background-color: #dfdfdf;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

/* ------------------CONTACTO------------------ */
/* ----------INFORMACION---------- */

.contacto-info {
    display: flex;
    align-items: center;
    justify-content: center;

}

.contacto-info i {
    margin: 0 10px 18px 0;
}

.form-contacto {
    width: 38%;
    margin: 0 auto;
}

.form-contacto input,
.form-contacto textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin: 10px;
}

.form-contacto textarea {
    height: 100px;
}

.form-contacto button {
    margin: 5% 45%;
    background-color: #d1d1d1;
    color: #676767;
    border: none;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

/* ------------------Carrito------------------ */

.main-carrito {
    background-color: #d9d8d887;
}

/* ----------Identificador---------- */
.miCarrito {
    display: flex;
    align-items: center;
    padding: 2%;
    margin-left: 4%;
}

.miCarrito span {
    font-size: 40px;
}

/* ----------Contenido---------- */
.compra {
    grid-area: compra;

}

.resumen {
    grid-area: resumen;
}

.compra-resumen {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "compra resumen";
    grid-template-columns: 2fr 1fr;
}

/* ----------Tabla Producto---------- */
.compra table {
    width: 85%;
    border-collapse: collapse;
    margin: 0 10%;
    background-color: rgb(243, 237, 237);

}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

td img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}


.resumen {
    width: 85%;
    padding: 20px;
    background-color: white;
    margin: 0;
    height: auto;
}

.resumen table {
    width: 90%;
    margin-left: 20px;
}

.resumen button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    margin: 15px 0;
    width: 100%;

}

/* ------------------PRODUCTOS------------------ */
/* ----------Controles---------- */
.controles-productos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown {
    margin: 20px 133px;
}

.main-contenedor-productos {
    display: flex;
}

/* ----------Categorias---------- */

.contenedor-categorias {
    margin: 1% 2% 0 5%;
}

.contenedor-categorias ul {
    list-style: none;
    padding: 10px;

}

.contenedor-categorias a {
    text-decoration: none;
    color: #000;

}

.contenedor-categorias li {
    padding: 4px;

}

.productos-container {
    margin: 20px 80px;
}

/* ------------------medias querys------------------ */

@media(width < 1200px) {
    .card img {
        width: 90%;
    }

    .accordion {
        margin: 20px 30px;
    }

    .form-contacto {
        width: 90%;
        margin: 2%;
    }

    .identificador-pagina {
        margin: 20px;
        font-size: 15px;
    }

    .controles-productos {
        font-size: 15px;
        display: inline;
    }

    .dropdown {
        display: flex;
        align-items: self-start;
        margin: 20px
    }

    .productos-container {
        margin: 20px;
    }

    .compra-resumen {
        grid-template-areas:
            "compra"
            "resumen";
        margin: 0;
        grid-template-columns: 1fr;
    }

    .compra th {
        display: none;
    }

    .compra table {
        display: block;
        width: 80%;
        margin: 3% 5%;
        font-size: 15px;
    }

    .compra td {
        padding: 10px;
        font-size: 13px;
    }

    .resumen {
        margin: 0 5%;
        width: 80%;

    }

}