* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.identificador-pagina {
    margin: 20px 100px;

    .breadcrumb-item a {
        text-decoration: none;
        color: $black;
    }
}

main {
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $keyColor;

    .icons {
        padding: 10px;
        text-align: center;
        margin-top: 5px;

        a {
            text-decoration: none;
            align-items: center;

            i {
                margin: 10px;
                padding: 7px;
                color:$secondaryColor;
                @include iconSizes($textMd);
                &:hover{
                    color: $mainColor;
                }
            }
        }
    }
}

.btn-error{
    background-color: transparent;
    border: 0.125em solid $mainColor;
    box-sizing: border-box;
    color: $keyColor;
    font-size: $textSm;
    font-weight:$textLight;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

    &:hover {
        color: #fff;
        background-color: $mainColor;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: none;
        transform: translateY(0);
    }
}

.error404-container{
    background-color: $white;
    h1{
        color: $black;
        font-size: $textXXL;
        font-weight: $textLight;
        margin: 100px 0 40px 50px;
    }
    h3{
        color: $black;
        font-size: $textXl;
        font-weight: $textRegular;
        margin: 0 0 30px 50px;
    }
    h6{
        color: $keyColor;
        font-size: $textSm;
        font-weight: $textRegular;
        margin: 0 0 50px 50px;
    }
    
    a{
        margin: 0 0 0 50px;
    }
}