.contacto-info {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        margin: 0 10px 18px 0;
    }
}

.form-contacto {
    width: 38%;
    margin: 0 auto;

    input,
    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        margin: 10px;
    }

    textarea {
        height: 100px;
    }

    button {
        margin: 5% 45%;
        padding: 10px;
        text-align: center;
        font-size: $textSm;
        letter-spacing: 1px;
        text-decoration: none;
        color:$keyColor;
        cursor: pointer;
        transition: ease-out 0.6s;
        border: 1px solid $keyColor;
        box-shadow: inset 0 0 0 0 $keyColor;

        &:hover {
            color: $white;
            box-shadow: inset 0 -100px 0 0 $keyColor;
        }
    }
}