.accordion {
    padding: 20px;
    margin: 20px 160px;
    border-radius: 0;

    .accordion-item {
        border-top: solid 1px $secondaryColor;
        border-bottom: solid 1px $secondaryColor;
        border-left: 0;
        border-right: 0;

        h2{
            color: $black;
        }

        .accordion-button:not(.collapsed) {
            background-color:$mainColor;
            color: $black;
        }

        .accordion-button.collapsed {
            color: $black;
        }

        .accordion-button:focus {
            box-shadow: none;
            outline: none;
            color: $black;
        }
    }

}