.controles-productos {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dropdown {
        margin: 20px 133px;

        select {
            padding: 0.5em;
            margin: 0.1em;
        }
    }
}

.main-contenedor-productos {
    display: flex;

    .productos-container {
        margin: 20px 80px;
    }

    .card {
        border: none;
        align-items: center;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .card-img-top {
        height: 18rem;
        width: 18rem;
        border-radius: 0;
        margin-bottom: 15px;
        transition: transform 0.3s;
    }

    .card-img-top:hover {
        transform: scale(1.1);
    }

    .btn {
        @extend .btn-error;
    }

    .btn-productos-final {
        @extend .btn-error;
        display: flex;
        justify-content: center;
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
    }
}