//Variables globales

//colores
$mainColor: #D9D9D9;
$secondaryColor: #d9d8d887;
$keyColor: #3e3e3e;
$white: #fefefe;
$black: #171616;

//fonts
$mainFont: 'Roboto', sans-serif;

//sizing
$textSm: 0.9em;
$textMd: 1.5em;
$textXl: 2em;

//weight
$textBold: 600;
$textRegular: 500;

